body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
  /* text-align: center;
  align-items: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.details{
  margin-top: 3rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
  margin-right: 5rem;
}
label{
  /* text-align: center;
  align-items: center; */
  margin: 0.5rem;
}
.result{
  /* text-align: center; */
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
